.git
.gitignore
node_modules
vendor
.env
.env.*
storage/logs
storage/*.key
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/hot
public/build
public/uploads
tests
.phpunit.cache
.phpunit.result.cache
*.md
CLAUDE.md
docs
