/node_modules
/public/hot
/public/storage
/public/build
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.envLive

CLAUDE.md
/docs
